/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
/** end reset css**/
body {
   background: #fdfbf0;
   max-width: 1140px;
   margin: auto;
   font-family: "Work Sans";
   font-size: 14px;
}
header {
   display: flex;
   justify-content: space-between;
   margin: 50px 0;
}
section {
   margin: 50px 0;
}

h1 {
   display: flex;
   flex-direction: column;
   font-family: "Syne";
   font-size: 22px;
   font-weight: 800;
   color: #b1663c;
}

h1 > span {
   font-family: "Work Sans";
   font-size: 10px;
   letter-spacing: 0.1em;
}

h2 {
   font-family: "Syne";
   font-weight: 700;
   font-size: 30px;
   color: #1d6154;
}
nav ul {
   display: flex;
   align-items: center;
   list-style-type: none;
}
nav li {
   padding: 0 10px;
   font-size: 1.2em;
}
nav li a {
   text-decoration: none;
   color: black;
}

li:hover,
nav li a:hover {
   color: #b1663c;
}
#introduction {
   display: flex;
   align-items: center;
}
#introduction figure {
   flex: 1;
}
#introduction img {
   display: block;
   margin: auto;
   width: 80%;
}
.modif-image-profil {
   font-family: "work Sans";
   display: flex;
   text-decoration: none;
   color: black;
   margin: 10px 0px 0px 54px;
}

#introduction article {
   flex: 1;
}
.modif-para {
   font-family: "work Sans";
   text-decoration: none;
   color: black;
   display: flex;
}
#introduction h2 {
   margin-bottom: 1em;
}

#introduction p {
   margin-bottom: 0.5em;
}
#portfolio {
   position: relative;
}
#portfolio h2 {
   text-align: center;
   margin-bottom: 1em;
}
.gallery {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}

.gallery img {
   width: 100%;
}
#contact {
   width: 50%;
   margin: auto;
}
#contact > * {
   text-align: center;
}
#contact h2 {
   margin-bottom: 20px;
}
#contact form {
   text-align: left;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
}

#contact input {
   height: 50px;
   font-size: 1.2em;
   border: none;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
   margin: 2em 0 1em 0;
}
#contact textarea {
   border: none;
   box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
   font-family: "Syne";
   font-weight: 700;
   color: white;
   background-color: #1d6154;
   margin: 2em auto;
   width: 180px;
   text-align: center;
   border-radius: 60px;
}

footer nav ul {
   display: flex;
   justify-content: flex-end;
   margin: 2em;
}

#bloc-btn {
   display: flex;
   justify-content: center;
   column-gap: 5%;
   margin: 50px 0px 50px 0px;
}
#bloc-btn button {
   border: 1px solid #1d6154;
   border-radius: 60px;
   font-family: "Syne";
   font-weight: 700;
   height: 37px;
   width: auto;
   padding: 0px 15px 0px 15px;
}
.basics-style-btn {
   color: #1d6154;
   background: #fdfbf0;
}
.active-btn {
   background: #1d6154;
   color: #fdfbf0;
}

/*** PAGE EDITION ***/

.black-band-design {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
   background-color: black;
   color: white;
   margin: 0px 0px 25px 0px;
}
.black-band-design p {
   font-family: "Work Sans";
   font-size: 14px;
}

.black-band-design button {
   border-radius: 60px;
   height: 35px;
   width: 216px;
   font-family: "Work Sans";
}

/*** MODALE ***/

.modale-modif {
   text-decoration: none;
   display: inline-flex;
   color: black;
   font-family: "Work Sans";
   font-size: 14px;
   padding-left: 12px;
   position: absolute;
   right: 31%;
   top: 0.4%;
}
.modale {
   visibility: hidden;
   opacity: 0;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(77, 77, 77, 0.6);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 1.4s;
}
.modale:target {
   visibility: visible;
   opacity: 1;
}

.modale-content {
   background: white;
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 52%;
   padding: 33px 10px 45px 10px;
   border-radius: 10px;
}
.modale-content h2 {
   margin: 30px;
   color: black;
   font-family: "Work Sans";
}
.modale-close {
   text-decoration: none;
   position: absolute;
   top: 24px;
   right: 38px;
   font-size: 23px;
   color: black;
}

.gallery-modal {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   border-bottom: 1px solid #b3b3b3;
   margin: 32px 76px;
   padding-bottom: 50px;
}
.gallery-modal figure {
   display: flex;
   flex-direction: column;
   position: relative;
}

.icon-modal {
   background: black;
   width: 17px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px 3px 3px 3px;
}
.gallery-modal .fa {
   cursor: pointer;
   position: absolute;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 6px;
   top: 4px;
   font-size: xx-small;
}

.add-image-modal {
   margin: 10px 0px 10px 0px;
   display: flex;
   order: 3;
   background: #1d6154;
   color: white;
   border-radius: 60px;
   width: 230px;
   height: 35px;
   justify-content: center;
   align-items: center;
   font-family: "Work Sans";
}
.delete-galerie {
   display: flex;
   order: 4;
   color: #d65353;
}
.image-modal {
   width: 75px;
   height: 100px;
}
.gallery-modal p {
   margin-top: 4px;
}

.modal-display-none {
   display: none;
}

#second-modal form {
   display: flex;
   flex-direction: column;
   width: 420px;
   border-bottom: 1px solid #b3b3b3;
}
#second-modal .fa-arrow-left {
   position: absolute;
   left: 30px;
   font-size: 1.25em;
}
#label-photo-projet {
   overflow: hidden;
   background: #e8f1f7;
   height: 200px;
   border-radius: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 10px 0px 0px 0px;
}

#img-uploaded {
   width: 65%;
   height: auto;
}
#img-uploaded img {
   width: 93%;
   height: 81%;
}

#label-photo-projet .fa-image {
   width: 73px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #b9c5cc;
   font-size: 4.5em;
}

#photo-projet {
   width: 173px;
   height: 36px;
   background: #cbd6dc;
   border-radius: 50px;
   color: transparent;
   display: flex;
   margin: 27px 0px 11px 0px;
}
#photo-projet::before {
   content: "+ Ajouter photo";
   color: #306685;
   padding: 9px 33px;
   font-size: 14px;
   font-family: "Work Sans";
   cursor: pointer;
}
#photo-projet::-webkit-file-upload-button {
   visibility: hidden;
}

#title {
   border: none;
   box-shadow: 0px 4px 14px rgb(0 0 0 / 9%);
   height: 37px;
}
.titre-obligatoire {
   color: red;
   padding-top: 3px;
   display: none;
}

#category {
   border: none;
   box-shadow: 0px 4px 14px rgb(0 0 0 / 9%);
   height: 37px;
   margin-bottom: 53px;
}
#second-modal form label {
   margin: 18px 0px 8px 0px;
}
#second-modal button {
   margin: 32px 0px 20px 0px;
   background: #a7a7a7;
   color: white;
   border-radius: 60px;
   width: 216px;
   height: 35px;
   border: none;
}
/*****   PAGE DE CONNEXION  *****/

.insta-login {
   vertical-align: bottom;
}
#login {
   padding: 80px 0px 370px 0px;
   margin: auto;
   width: fit-content;
   display: grid;
   place-items: center;
}

#login form {
   display: flex;
   flex-direction: column;
   margin: 60px 0px 28px 0px;
}
#login label {
   padding-bottom: 6px;
}
#login input {
   margin-bottom: 30px;
   height: 37px;
   width: 378px;
}
.connect {
   font-family: "Syne";
   font-weight: 700;
   color: white;
   background-color: #1d6154;
   margin: auto;
   width: 180px;
   height: 36px;
   text-align: center;
   border-radius: 60px;
}
#login a {
   color: black;
}

footer {
   display: flex;
   justify-content: end;
}
